<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="customerlmpl" class="com.domain.CustomerImpl"/>
    <bean id="cafeOwner" class="com.domain.CafeOwner"/>
    <bean id="internetAdvice" class="com.domain.InternetAdvice">
        <property name="cafeOwner" ref="cafeOwner"/>
    </bean>

    <bean id="cafeOwnerBeforeAndAfterAdvice"
          class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <ref local="internetAdvice"/>
        </property>
        <property name="pattern">
            <value>.*</value>
        </property>
    </bean>


    <bean id="customerProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            <ref local="customerlmpl"/>

        </property>

        <property name="proxyInterfaces">
            <value>Customer</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>cafeOwnerBeforeAndAfterAdvice</value>
            </list>
        </property>
    </bean>

</beans>




